In [1]:
#Print the multiplication table from 1 to 10 using nested loops.

n = int(input("Enter range for multiplication table: "))

for i in range(1, n+1):
    for j in range(1, n+1):
        print(f"{i} x {j} = {i * j}")
    print()

Enter range for multiplication table:  10

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [3]:
"""2.Output a grid like this:
1 2 3
1 2 3
1 2 3"""

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(1, n+1):
        print(j, end=" ")
    print()

Enter range:  3

1 2 3
1 2 3
1 2 3

In [6]:
"""3.Incremental number triangle
1
1 2
1 2 3
1 2 3 4"""

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(i):
        print(j+1, end=" ")
    print()

Enter range:  4

1
1 2
1 2 3
1 2 3 4

In [7]:
"""4.Right angled triangle of stars
*
**
***
**** """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(i):
        print("*", end="")
    print()

Enter range:  5

*
**
***
****
*****

In [8]:
"""5.Inverted Star Pattern
*****
****
***
**
* """

n = int(input("Enter range: "))

for i in range(n, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

Enter range:  5

*****
****
***
**
*

In [34]:
"""6.Pyramid of stars
    *
   ***
  *****
 ******* """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for k in range(n-i):
        print(" ", end="")
    for j in range(2*i-1):
        print("*", end="")
    print()

Enter range:  5

    *
   ***
  *****
 *******
*********

In [40]:
"""7.Print a 4x4 grid like:
B W B W
W B W B
B W B W
W B W B """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(1, n+1):
        if j % 2 != 0:
            print("B W B W")
        else:
            print("W B W B")
    print()
    break

Enter range:  4

B W B W
W B W B
B W B W
W B W B

In [42]:
"""8.pattern with row numbers
1
2 2
3 3 3
4 4 4 4 """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(i):
        print(i, end=" ")
    print()

Enter range:  4

1
2 2
3 3 3
4 4 4 4

In [46]:
"""9.Print a chessboard grid with labels:
A1 A2 A3 A4
B1 B2 B3 B4
C1 C2 C3 C4
D1 D2 D3 D4 """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(1, n+1):
        print(chr(65 + i-1)+str(j), end=" ")
    print()

Enter range:  4

A1 A2 A3 A4
B1 B2 B3 B4
C1 C2 C3 C4
D1 D2 D3 D4

In [68]:
"""10.Print a triangle with increasing numbers:
1
2 3
4 5 6
7 8 9 10 """

n = int(input("Enter range: "))
count = 1

for i in range(1, n+1):
    for j in range(i):
        print(count, end=" ")
        count += 1
    print()

Enter range:  4

1
2 3
4 5 6
7 8 9 10

In [71]:
"""11.Triangle of Alphabets
A
B B
C C C
D D D D """

n = int(input("Enter range: "))

for i in range(1, n+1):
    for j in range(i):
        print(chr(65+i-1), end=" ")
    print()

Enter range:  4

A
B B
C C C
D D D D